.DS_Store
node_modules
**/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/src/lib/gql
*.ico
*.png
*.svg
.prettierignore
.eslintignore
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
